<h1>amount compute</h1>

<% if @parking.amount.present? #end, show amount %>
  <p>from <%= @parking.start_at %>to <%= @parking.end_at %></p>
  <p> <%= @parking.duration %> minute</p>
  <p><%= number_to_currency(@parking.amount.to_f / 100, :unit => "¥") %> 元</p>

  <p><%= link_to "continue park",new_parking_path  %></p>

<% else # not end %>
  <%= form_for @parking do |f| %>

    <p><%= f.submit "end" %></p>

  <% end %>
<% end %>
